<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Dev tmpl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Test tmpl for audaru api sample">
  <meta name="author" content="Nevrex">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			 
 <div class="well">

<form class="form-horizontal" role="form">
			
<div class="form-group">
	<div class="btn-group">
		 <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-random"></em> Русско-казахский</button>  <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-random"></em> Казахско-русский</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-search"></em> Словарь</button>
	</div>
</div>
			
<div class="form-group">
<textarea class="form-control" rows="5"></textarea>
</div>

<div class="form-group">
<button type="button" class="btn btn-default"><em class="glyphicon glyphicon-refresh"></em> Перевести</button>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <em class="glyphicon glyphicon-cog"></em>  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Помощь экспертов</a></li>
    <li><a href="#">Поделиться</a></li>
    <li><a href="#">Сообщить об ошибке</a></li>
    <li class="divider"></li>
    <li><a href="#">О программе</a></li>
  </ul>
</div>

</div>
</form>

<div class="form-group">
<div class="alert alert-success">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

Перевод</div>
</div>

		</div>
	</div>
</div>
</body>
</html>